.info-card {
  background: $color-primary;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
  border-radius: 5px;
  min-width: 325px;
  min-height: 30px;
  transition: all 0.4s;
  cursor: pointer;
  width: 100%;
}

.info-card h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.info-card img {
  height: 50%;
  width: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  align-self: flex-start;
}

.block--inner p {
  width: 90%;
  padding: 20px;
}

// .info-card:hover {
//   background: $color-secondary;
//   transition: all 0.4s;
// }

// .info-card:hover h4 {
//   color: $color-primary;
//   transition: all 0.4s;
// }

// .info-card:hover p {
//   color: $color-primary;
//   transition: all 0.4s;
// }

.card {
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.block--image {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  background: #fff;
}

.block--image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  top: 0;
  left: 0;
}

.block--image__info {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.knife-card img {
  width: 325px;
  height: 325px;
  position: absolute;
  opacity: 1;
  z-index: 0;
}

.knife-card:hover .inner {
  opacity: 1;
  transition: all 0.4s;
}

.knife-card .inner {
  background: rgba(0, 0, 0, 0.4);
  height: 325px;
  width: 325px;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s;
}

.inner h5 {
  text-align: center;
}

.slide-block {
  display: block;
  border-left: 1px solid $color-primary;
  margin: 10px;
  transition: all 0.4s ease-out;
  min-width: 325px;
  min-height: 325px;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}

.slide-block:hover {
  color: $color-secondary;
}

.slide-block::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: $color-primary;
  transform-origin: left;
  transition: all 0.25s ease;
  z-index: -1;
}
.slide-block:hover::after {
  width: 100%;
  background-color: $color-primary;
}

.slide-block p {
  opacity: 0;
  transition: all 0.5s;
}

.slide-block:hover p {
  opacity: 1;
  color: $color-secondary;
  margin: 0 0 5% 0;
}
.slide-block h4 {
  color: $color-primary;
  opacity: 1;
  transition: all 0.5s;
}

.slide-block:hover h4 {
  color: $color-secondary;
  top: 20px;
}

.slide-block img {
  position: absolute;
  opacity: 1;
  left: 43%;
  top: 30%;
}

.slide-block:hover img {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.divider {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
  padding: 20px 0;
}

.block__border-top {
  border-top: 2px solid $color-primary;
}

.block__border-bottom {
  border-bottom: 2px solid $color-primary;
}

@media only screen and (max-width: 800px) {
  .block {
    margin-left: 0px;
    margin-right: 0px;
  }
}
