@import './color.scss';
@import './typography.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $color-secondary;
  background: $color-primary;
  transition: all 0.4s;
  width: 200px;
  height: 70px;
  cursor: pointer;
  font-family: $font-primary;
  font-size: 18px;
  text-decoration: none;
  margin: 20px;
  border-radius: 5px;
}

.button:hover {
  transition: all 0.4s;
  color: $color-primary;
  background: $color-secondary;
}

.large {
  width: 300px;
  height: 100px;
}

.small {
  width: 40px;
  height: 40px;
}

.rounded {
  border-radius: 999px;
}

.menu {
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: $color-primary;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu:hover .menu-content {
  display: flex;
  flex-direction: column;
}

.menu:hover button {
    background-color: $color-secondary;
    color: $color-primary;
  }
