$color-primary: #014085;
$color-secondary: #fff;


.color-primary {
   color: $color-primary;
}

.background-primary {
    background-color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
 }

 .background-secondary {
     background-color: $color-secondary;
 }

.color-white {
    color: #fff;
}

.background-white {
    background-color: #fff;
}

.color-black {
    color: #000;
}

.color-green {
    color:forestgreen;
}

.fav-black {
    color: #333;
}

