@import './color.scss';


#nav-h a:hover {
  border-top: 2px solid $color-secondary;
  border-bottom: 2px solid $color-secondary;
  border-radius: 5px;
  transition: all 0.3s;
}
#nav {
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
  background: $color-primary;
  z-index: 200;
}

#nav-h {
  min-height: 80px;
  background: $color-primary;
  z-index: 200;
}

.nav-h__upper {
  min-height: 80px;
  height: 10%;
}



#nav-icon1 {
  width: 60px;
  height: 45px;
  left: 15px;
  top: 15px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 0.5em;
  width: 100%;
  background: white;
  border-radius: 0.2em;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nav__logo {
  width: 400px;
  object-fit: contain;
  height: 70px;
  margin: 5px;
}

.nav-h__links {
  transition: all 0.3s;
  height: 0;
  z-index: -1;
  opacity: 0;
}

.open {
  transition: all 0.3s;
  height: 150px;
  z-index: 11;
  opacity: 1;
}

.nav__link {
  transition: all 0.3s;
}

.selected {
  border-top: 2px solid $color-secondary;
  border-bottom: 2px solid $color-secondary;
  border-radius: 5px;
  transition: all 0.3s;
}





@media only screen and (max-width: 757px) {
  .nav__logo {
    display: none;
  }

  .open {
    height:390px;
  }

}
