@import './scss/spacing.scss';
@import './scss/alignment.scss';
@import './scss/footer.scss';
@import './scss/typography.scss';
@import './scss/navbar.scss';
@import './scss/dimensions.scss';
@import './scss/loader.scss';
@import './scss/card.scss';
@import './scss/color.scss';
@import './scss/alert.scss';
@import './scss/textfield.scss';
@import './scss/block.scss';
@import './scss/carousel.scss';
@import './scss/button.scss';
@import './scss/fit.scss';
@import './scss/fab.scss';
@import './scss/skeleton.scss';
@import './scss/normalize.scss';

body {
  padding: 0;
  font-family: sans-serif;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  border: none;
}

.a-wrapper--opacity {
  opacity: 0;
  transition: opacity 1s;
}

.a-wrapper--left {
  transform: translate3d(-300%, 0, 0);
  transition: 640ms ease-in-out;
}

.visible {
  transition: 640ms ease-in-out;
  transform: translate3d(0, 0, 0)!important;
  opacity: 1;
}

.a-wrapper--right {
  transition: 640ms ease-in-out;
  transform: translate3d(300%, 0, 0);
}

.a-wrapper--top {
  transition: 640ms ease-in-out;
  transform: translate3d(0, 300%, 0);

}